.ui.cards>.card {
  font-size: 1em;
  margin-left: 20%;
}



.user-detail {
  float:left;
  font-family: 'Abril Fatface', cursive;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  width: 400px;
  margin: 5% auto;
  margin-left:30%;
  margin-right:3%;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

button {
}

.header {
  background-image: linear-gradient(45deg, #ff3445, #ee5258);
  padding: 30px;
  height: 20px;
}
.name {
  font-family: 'Acme', sans-serif;
  text-align: right;
  overflow: hidden;
  text-transform: capitalize;
  color:#ffffff;
}
.back {
  background-image: linear-gradient(45deg, #ff3445, #ee5258);
  color:white;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
fa {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.profile{
  text-align: left;
  position: relative;
  background-color: #fff;
}
.avatar{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  vertical-align: middle;
  margin-top: -50px;
  box-shadow: 0px 0px 65px 0px rgba(131, 100, 238,0.3);
  border: 7px solid #efefef;

}
.basicInfo {
  text-align: right;
  margin-right: 6%;
  margin-top: -40px;
  list-style: none;
  display: block;
  box-shadow: 0px 30px 65px 0px rgba(131, 100, 238, 0.05);
}
.info {
  font-size: 15px;
  font-family: inherit;
  text-transform: capitalize;
  padding-left:3px;

}
.infoContent {
  font-family: 'Acme', sans-serif;

}

.title {
  font-family: 'Acme', sans-serif;
  font-size: 17px;
  color: #ee5258;
}

.subTitle {
  font-family: 'Acme', sans-serif;
  font-size: 15px;
  color: #ee5258;
  background-color: #ecdeee;
}
.subinfoContent {
  font-family: 'Acme', sans-serif;

  text-decoration: underline;
}
